body {
    font-family: Times New Roman, serif;
}

table, th, td {
    border-top: 1px solid silver;
    font-size: 1.1em;
    border-collapse: collapse;
}

th, td {
    margin: 0;
    border-spacing: 0;
    padding: 8px;
}