-import '_helpers.haml' as help  

<!doctype html>
%head
  %link rel='stylesheet' href='static/application.css' type='text/css'
  %title
    WugLearn
    
    
%body
  -include 'header.haml'
  #content
    -block content:
      = pass